<!DOCTYPE html>
<html lang="en">
  <head>

  </head>


  </header>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a href="http://localhost:8080" class="navbar-brand"><span class="glyphicon glyphicon-picture" aria-hidden="true"></span class="text-warning"> Schoodle </a>
        </div>
      </div>
    </nav>
  </header>

