<!DOCTYPE html>
<html lang="en">
<head>

  <title>Schoodle - Home Page</title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <link href="https://fonts.googleapis.com/css?family=Montserrat:900" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous" />
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>

  <header>
    <% include partials/_header %>
  </header>

  <body class="bodyLayout">
    <div class="content">
      <main class="container">
        <div class="wrapper">
        <div class="jumbotron">
          <h4 class="sub-title">Step 2</h4>
          <h2 class="eventName"><%= title %></h2>

          <form>
            <p>Here is the link of your event:</p>
            <input type="text" name="longURL" style="width:55%;" id="eventURL">
            <button class="btn btn-secondary btn-sm" id="copyButton" type="button"> <i class="fas fa-copy"> Copy</i></button>
          </form>

          <br><br>

          <div class="icon-bar">
            <a href="https://www.facebook.com" class="facebook" target="_blank"><i class="fa fa-facebook"></i></a> <a href="https://www.twitter.com" class="twitter" target="_blank"><i class="fa fa-twitter"></i></a> <a href="https://www.google.com" class="google" target="_blank"><i class="fa fa-google"></i></a> <a href="https://www.linkedin.com" class="linkedin" target="_blank"><i class="fa fa-linkedin"></i></a> <a href="https://www.youtube.com" class="youtube" target="_blank"><i class="fa fa-youtube"></i></a>
          </div>

          <br><br>

          <form method="POST" action="/api/events/invite">
            <input id="sendInvite" class="btn btn-primary btn-lg" type="submit" value="Send invitation!"/>
          </form>
          <br>
        </div>
        </div>
      </main>
    </div>
  </body>

  <footer>
    <div class="footer-copyright text-center py-3">© 2019 Copyright:
      <span>Schoodle.com</span>
    </div>
  </footer>

</html>
