<!DOCTYPE html>
<html>

<head>
  <title>Schoodle</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
</head>

<body>

  <h2>Event Name</h2>

  <form>
    <p>Here is the link of your event:</p>
    <input type="text" name="longURL" style="width:25%;"><button><i class="fas fa-copy"> Copy</i></button>
  </form>

  <br>
<!-- merge conflict - is the commented-out part ok to delete? -->
<!--   <h4>Add attendees:</h4>
  <form>
    <label>Name: </label> <input type="test" name="name" style="width:15%;"> <label>Email: </label> <input type="test" name="email" style="width:20%;"><button>Add</button>
  </form>

  <br>

  <form method="POST" action="/createEvent">
    <h4>Invite list:</h4>
    <ul>
      <li>req.body.name, req.body.email<button>Delete</button></li>
    </ul>


  <button class="btn btn-primary btn-lg">Send invitation!</button>
    </form>
 -->
  <form method="POST" action="/api/events/invite">
    <h4>Add attendees:</h4>
      <div>
        <label>Name: </label> <input type="test" name="attendeeName" style="width:15%;"> <label>Email: </label> <input type="test" name="attendeeMail" style="width:20%;">
        <button>Add</button>
      </div>
    <br>
    <h4>Invite list:</h4>
      <ul>
        <li><button>Delete</button></li>
      </ul>
    <button class="btn btn-primary btn-lg">Send invitation!</button>
  </form>

</body>
</html>
