body {
  background-color: #EEE;
  h1 {
    color: #244751;
  }
}

.welcome {
  padding-top: 20px;
  font-family: 'Montserrat', sans-serif;
  color: black;
}

.bodyLayout {
  background: url(https://cssanimation.rocks/levelup/public/images/background.jpg);
  font: black;
  background-blend-mode: lighten;
}

.jumbotron {
  padding-top: 20px;
  opacity: 0.85;
  width: 70%;
  padding-right: 20px;
  padding-left: 40px;
  float: center;
  /*shadow*/
  position: relative;
  z-index: 2;
  box-shadow: 0 8px 16px -6px black;
  /*centered*/
  margin:0 auto
}

.wrapper {
  /*width: 60%;*/
  /*align-items: center;*/
  padding-top: 50px;
  padding-left: 20px;
}

.title {
  font-family: 'Montserrat', sans-serif;
  color: black;
}

.main {
  padding-top: 40px;
  padding-left: 30px;
}

#createEvent {
  float: right;
  /*shadow*/
  position: relative;
  z-index: 2;
  box-shadow: 0 8px 16px -6px black;
}

#sendInvite {
  float: right;
  padding-bottom: 10px;
  margin-bottom: 10px;
    /*shadow*/
  position: relative;
  z-index: 2;
  box-shadow: 0 8px 16px -6px black;
}

.textArea {
  vertical-align: top;
    /*shadow*/
  position: relative;
  z-index: 2;
  box-shadow: 0 8px 16px -6px black;

}

.clmnWidth {
  column-width: 200px;
}

#addAttendee {
  position: relative;
  z-index: 2;
  box-shadow: 0 8px 16px -6px black;
}

#backBtn {
  position: relative;
  z-index: 2;
  box-shadow: 0 8px 16px -6px black;
}

#setEvent {
  position: relative;
  z-index: 2;
  box-shadow: 0 8px 16px -6px black;
}

#setDate {
  position: relative;
  z-index: 2;
  box-shadow: 0 8px 16px -6px black;
}

#copyButton {
  position: relative;
  z-index: 2;
  box-shadow: 0 8px 16px -6px black;
}











